
<div id="DeleteModalPopupTemplate">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DeleteModalConfirmation</h4>
    </div>
    <div class="modal-body">
        <form class='form-horizontal'>
            <!--<span id='recordToDeleteid' style='display:none'>"+id+"</span>-->
            <div class='form-group'>
                <label for='ModalProductID' class='col-md-5 control-label'>ProductID</label>
                <div class='col-lg-7'>
                    <label id='ModalProductID' class='col-md-5 control-label'></label>
                </div>
            </div>
            <div class='form-group'>
                <label for='ModalName' class='col-md-5 control-label'>Name</label>
                <div class='col-lg-7'>
                    <label id='ModalName' class='col-md-5 control-label'></label>
                </div>
            </div>
            <div class='form-group'>
                
                <label for='ModalPrice' class='col-md-5 control-label'>Price</label>
                <div class='col-lg-7'>
                    
                    <label id='ModalPrice' class='col-md-5 control-label'></label>
                </div>
            </div>
            <div class='form-group'>
                
                <label for='ModelQuality' class='col-md-5 control-label'>Quality</label>
                <div class='col-lg-7'>
                  
                    <label id='ModelQuality' class='col-md-5 control-label'></label>
                </div>
            </div>
            <div class='form-group'>

                <label for='ModalItemTotal' class='col-md-5 control-label'>ItemTotal</label>
                <div class='col-lg-7'>

                    <label id='ModalItemTotal' class='col-md-5 control-label'></label>
                </div>
            </div>
        </form>"
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="confirmDelete" class="btn btn-danger">Delete</button>
    </div>
</div>
