<script type="text/x-handlebars-template" id="singleProductCard">
    <div>
        <!--{{#singleProduct}}-->
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object" src="http://localhost:5342//Catalog/Images/{{ImagePath}}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Description</h4>
                <p>{{Description}}</p>
                <h class="media-heading">Price: </h><span>{{UnitPrice}}</span>
                <br />
                <h class="media-heading">Product Number: </h><span>{{ProductID}}</span>
            </div>
            <!--{{/singleProduct}}-->
        </div>
</script>