
@{
    ViewBag.Title = "Index";
}


@*<div class="well well-lg">*@
    <img  src="~/Images/logo.jpg" />
@*</div>*@
<br />
<br />
<div class="btn-group btn-group-justified">
    @*<a href="#" class="btn btn-default">Left</a>
    <a href="#" class="btn btn-default">Middle</a>
    <a href="#" class="btn btn-default">Right</a>
    <a href="#" class="btn btn-default">Left</a>
    <a href="#" class="btn btn-default">Middle</a>
    <a href="#" class="btn btn-default">Right</a>*@
</div>
<br />
<br />
<div class="row" id="templateSuperParentHolder">
    
    @*<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>*@
</div>
<div id="teplateParentHolder" >

</div>

</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/handlebars.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/backbone.js"></script>
<script src="~/Scripts/BackBoneScripts/Model.js"></script>
<script src="~/Scripts/BackBoneScripts/Collection.js"></script>
<script src="~/Scripts/BackBoneScripts/View.js"></script>