
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="btn-group btn-group-justified">
    @*<a href="#" class="btn btn-default">Left</a>
    <a href="#" class="btn btn-default">Middle</a>
    <a href="#" class="btn btn-default">Right</a>
    <a href="#" class="btn btn-default">Left</a>
    <a href="#" class="btn btn-default">Middle</a>
    <a href="#" class="btn btn-default">Right</a>*@
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/backbone.js"></script>
<script src="~/Scripts/BackBoneScripts/Model.js"></script>
<script src="~/Scripts/BackBoneScripts/Collection.js"></script>
<script src="~/Scripts/BackBoneScripts/View.js"></script>